<!-- Presents View -->

<div>

  <!-- Header -->
  <h1>Santafy</h1>
  <p>Santa isn't real. This is the next best thing.</p>
  <p>Make your list, check it twice, and share it with your friends and family. No more shitty gifts.</p>
  <button class="btn btn-default" ng-click="test()">Test</button>

  <hr>

  <!-- Main Body -->
  <div class="row">

    <!-- Add Present Form -->
    <div class="col-lg-4">
      <h3>Add a Present</h3>
      <p>Your present will be added to the bottom of the list.</p>
      <hr>

      <!-- Form -->
      <form role="form" name="presentForm" ng-submit="addPresentFromForm()" novalidate>

        <!-- title -->
        <div class="form-group form-group-lg">
          <label for="newPresentTitle">Title</label>
          <input type="text" name="title" id="newPresentTitle" ng-model="newPresentTitle" class="form-control" placeholder="a new toy!" required>
        </div>

        <!-- notes -->
        <div class="form-group">
          <label for="newPresentNotes">Notes</label>
          <textarea type="text" name="notes" id="newPresentNotes" ng-model="newPresentNotes" class="form-control" placeholder="this is the coolest toy i've ever seen!"></textarea>
        </div>

        <!-- link -->
        <div class="form-group">
          <label for="newPresentLink">Link</label>
          <input type="url" name="link" id="newPresentLink" ng-model="newPresentLink" class="form-control" placeholder="www.amazon.com/...">
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="presentForm.$invalid">Add to List!</button>
      </form>
    </div>

    <!-- List Column -->
    <div class="col-lg-8">

      <h3>My List | {{totalPresents()}}</h3>
      <p>Drag presents to reorder. Feel free to edit and delete.</p>
      <hr>

      <!-- List of presents! -->
      <ul ui-sortable="{update: sortPresents()}" ng-model="presents" class="list-group">

        <!-- specific present -->
        <li class="list-group-item" ng-repeat="present in presents">
          <div class="row">

            <!-- Index -->
            <div class="col-lg-1">
              <h1 style="color:gray">{{$index + 1}}</h1>
            </div>

            <!-- Details -->
            <div class="col-lg-9">
              <div ng-hide="editing == $index">
                <h3>{{present.title}}</h3>
                <p>{{present.notes}}</p>
                <div ng-show="present.link">
                <a href="{{present.link}}">link</a>
                </div>
              </div>


              <!-- Editing Version -->
              <div ng-show="editing == $index">
                <form name="inlineForm">
                  <div class="form-group">

                    <label>Title</label>
                    <input type="text" name="inlineTitle" class="form-control" ng-model="tmpPresent.title" placeholder="what it's called" ng-required />
                  </div>
                  <div class="form-group">
                    <label>Notes</label>
                    <textarea type="text" name="inlineNotes" class="form-control" ng-model="tmpPresent.notes" placeholder="i want this thing"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Link</label>
                    <input type="text" name="inlineLink" class="form-control" ng-model="tmpPresent.link" placeholder="www.ebay.com/..." />
                  </div>
                </form>
              </div>
            </div>

            <!-- buttons -->
            <div class="col-lg-2">

              <!-- default -->
              <div ng-hide="editing == $index">
                <div class="pull-right">

                  <!-- edit -->
                  <button class="btn btn-primary" ng-click="openEditDialog($index)">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>

                  <!-- delete -->
                  <button class="btn btn-danger" ng-click="deletePresent($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>

                </div>
              </div>

              <!-- editing -->
              <div ng-show="editing == $index">
                <div class="pull-right">

                  <!-- save -->
                  <button class="btn btn-success" ng-click="updatePresent($index)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>

                  <!-- discard -->
                  <button class="btn" ng-click="clearEditing()">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>

                </div>
              </div>
            </div>
          </div>


        </li>
      </ul>

    </div>
  </div>

  <p>tmp title: {{tmpPresent.title}}</p>
  <p>tmp notes: {{tmpPresent.notes}}</p>
  <p>tmp link: {{tmpPresent.link}}</p>
  <br>
  <p>editing: {{editing}}</p>

  <hr>
  <h3>JSON</h3>
  <p>{{presents}}</p>


</div>
