<!-- Presents View -->

<div>
  <h1>Presents</h1>
  <p>{{intro}}</p>

  <hr>

  <h3>List ({{getTotalPresents()}})</h3>

  <div class="input-group col-lg-6">
    <input type="text" class="form-control" placeholder="a new toy" ng-model="formPresentText">
    <span class="input-group-btn">
      <button class="btn btn-primary" ng-click="addPresent()" type="button">Add</button>
    </span>
  </div>

  <hr>

  <ul class="list-group">
      <li class="list-group-item" ng-repeat="present in presents">
      	<h3>{{present.title}}</h3>
      	<p>asdf blah blah blah</p>
      	<a href="http://ryantuck.io">link!</a>
      	<p>priority: {{present.priority}}</p>
      </li>
  </ul>


  <hr>
  <h3>JSON</h3>
  <p>{{presents}}</p>


</div>
