<div>
  <h1>Sign Up</h1>
  <p>Sign up here!</p>

  <form action="/signup" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-default btn-lg">Sign Up</button>
  </form>

  <p>Have an account? <a href="/login">Login</a></p>


</div>
